 <div class="main-container">
        <div class="cloud-image">			
			<%=image_tag("successCloudNew.svg", alt: "Cloud Success")%>
        </div>
        <div class="content">
            <div class="tweet-container">
            </div>
            <div class="content-body">
                <div class="success-text">Success!</div>
                <div class="description line-1"> Your Ruby on Rails app is up and running</div>
                <div class="description line-2"> <i>While working on your goals, if you need any kind of help, /raisehand will help get you a reviewer</i> </div>
                <div class="next-steps-container">
                    <div class="next-steps-header"> MY 14DAYS ACTION PLAN </div>
                    <div class="next-steps-body">
                        <div class="step">
                            <div class="step-icon">                                
								1.
                            </div>
                            <div class="step-text">Remove me and add your first goal</div>
                        </div>
                        <div class="step">
                            <div class="step-icon">                                
								2.
                            </div>
                            <div class="step-text">Remove me and add your second goal</div>
                        </div>
                        <div class="step">
                            <div class="step-icon">                                
								3.
                            </div>
                            <div class="step-text">Remove me and add your third goal</div>
                        </div>
                        <div class="step">
                            <div class="step-icon">                                
								4.
                            </div>
                            <div class="step-text">Remove me and add your fourth goal</div>
                        </div>
                        <div class="step">
                            <div class="step-icon">                                
								5.
                            </div>
                            <div class="step-text">Remove me and add your fifth goal</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>